web/src/main/webapp/nextprot-export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xs:element name="nextprot-export">
		<xs:annotation>
			<xs:documentation>NextProt schema</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!--TODO   <xs:element ref="header" /> -->
				<xs:element ref="entry-list" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="url" type="xs:string" />
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbName" />
				<xs:element ref="numberOfEntries" />
				<xs:element ref="release" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbName" type="xs:normalizedString" />
	<xs:element name="numberOfEntries" type="xs:integer" />
	<xs:element name="release">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="neXtProt" />
				<xs:element ref="dataSources" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="neXtProt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="databaseRelease" />
				<xs:element ref="applicationRelease" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="databaseRelease" type="xs:date" />
	<xs:element name="applicationRelease" type="xs:string" />
	<xs:element name="dataSources">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="dataSource" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			</xs:sequence>
			<xs:attribute name="source" use="required" type="xs:normalizedString" />
			<xs:attribute name="description" use="required" type="xs:normalizedString" />
			<xs:attribute name="release" use="required" type="xs:normalizedString" />
			<xs:attribute name="last_import_date" use="required" type="xs:date" />
		</xs:complexType>
	</xs:element>
	<xs:element name="entry-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="overview" />
				<xs:element ref="isoform-list" />
				<xs:element ref="annotations" />
				<xs:element ref="keywords" />
				<xs:element ref="interaction-list" minOccurs="0" />
				<xs:element ref="chromosomal-location-list" minOccurs="0" />
				<xs:element ref="genomic-mapping-list" minOccurs="0" />
				<xs:element ref="identifiers" minOccurs="0" />
				<xs:element ref="publications" minOccurs="0" />
				<xs:element ref="xrefs" />
				<xs:element ref="peptide-list" minOccurs="0"/>
				<xs:element ref="antibody-list" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:normalizedString" />
			<xs:attribute name="database" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="overview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="protein-existence" />
				<xs:element ref="protein-name-list" />
				<xs:element ref="additional-name-list" minOccurs="0"/>
				<xs:element ref="functional-region-name-list" minOccurs="0"/>
				<xs:element ref="cleaved-region-name-list" />
				<xs:element ref="gene-name-list" />
				<xs:element ref="family-list" minOccurs="0" />
				<xs:element ref="history" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="protein-existence">
		<xs:complexType>
 			<xs:attribute name="value" type="xs:string" /> 
		</xs:complexType>
	</xs:element>
	<xs:element name="additional-name-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="functional-region-name-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="biophysicochemical-properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cleaved-region-name-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="protein-name-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="protein-name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="additionalNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="functionalRegionNames">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="gene-name-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="entity-name">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="synonyms" />
			</xs:choice>
			<xs:attribute name="value" type="xs:string" />
			<xs:attribute name="is-main" use="required" type="xs:boolean" />
			<xs:attribute name="qualifier" use="required" />
			<xs:attribute name="type" use="required" type="nameType" />
		</xs:complexType>
	</xs:element>
	<xs:element name="synonyms">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="entity-name" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="nameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="name" />
			<xs:enumeration value="region name" />
			<xs:enumeration value="enzyme name" />
			<xs:enumeration value="gene name" />
			<xs:enumeration value="allergen" />
			<xs:enumeration value="CD antigen" />
			<xs:enumeration value="International Nonproprietary Name" />
			<xs:enumeration value="open reading frame" />
			<xs:enumeration value="clone name" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="family-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="family" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="family">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="family-name" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="family-name" type="xs:string" />
	<xs:element name="history">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="history-entry" maxOccurs="2" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="history-entry">
		<xs:complexType>
			<xs:attribute name="database" use="required" />
			<xs:attribute name="integrated" type="xs:date" use="required" />
			<xs:attribute name="updated" type="xs:date" use="required" />
			<xs:attribute name="version" type="xs:integer" use="optional" />
			<xs:attribute name="last-sequence-update" type="xs:date" use="optional" />
			<xs:attribute name="sequence-version" type="xs:integer" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string" />
	<xs:element name="annotations">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="annotationList" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="annotationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="annotation" />
			</xs:sequence>
			<xs:attribute name="category" use="required" type="annotationType" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="annotationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="active site" />
			<xs:enumeration value="allergen" />
			<xs:enumeration value="amino acid modification" />
			<xs:enumeration value="beta strand" />
			<xs:enumeration value="binding site" />
			<xs:enumeration value="biotechnology" />
			<xs:enumeration value="calcium-binding region" />
			<xs:enumeration value="catalytic activity" />
			<xs:enumeration value="caution" />
			<xs:enumeration value="cleavage site" />
			<xs:enumeration value="coding sequence" />
			<xs:enumeration value="cofactor" />
			<xs:enumeration value="coiled-coil region" />
			<xs:enumeration value="compositionally biased region" />
			<xs:enumeration value="cross-link" />
			<xs:enumeration value="developmental stage" />
			<xs:enumeration value="disease" />
			<xs:enumeration value="disulfide bond" />
			<xs:enumeration value="DNA-binding region" />
			<xs:enumeration value="domain" />
			<xs:enumeration value="domain information" />
			<xs:enumeration value="domain name" />
			<xs:enumeration value="enzyme classification" />
			<xs:enumeration value="enzyme regulation" />
			<xs:enumeration value="expression info" />
			<xs:enumeration value="family name" />
			<xs:enumeration value="function" />
			<xs:enumeration value="glycosylation site" />
			<xs:enumeration value="go biological process" />
			<xs:enumeration value="go cellular component" />
			<xs:enumeration value="go molecular function" />
			<xs:enumeration value="helix" />
			<xs:enumeration value="induction" />
			<xs:enumeration value="initiator methionine" />
			<xs:enumeration value="interacting region" />
			<xs:enumeration value="lipid moiety-binding region" />
			<xs:enumeration value="maturation peptide" />
			<xs:enumeration value="mature protein" />
			<xs:enumeration value="metal ion-binding site" />
			<xs:enumeration value="miscellaneous" />
			<xs:enumeration value="mutagenesis site" />
			<xs:enumeration value="non-consecutive residues" />
			<xs:enumeration value="non-standard amino acid" />
			<xs:enumeration value="non-terminal residue" />
			<xs:enumeration value="nucleotide phosphate-binding region" />
			<xs:enumeration value="pathway" />
			<xs:enumeration value="pharmaceutical" />
			<xs:enumeration value="polymorphism" />
			<xs:enumeration value="PTM" />
			<xs:enumeration value="region of interest" />
			<xs:enumeration value="repeat" />
			<xs:enumeration value="sequence caution" />
			<xs:enumeration value="sequence conflict" />
			<xs:enumeration value="sequence variant" />
			<xs:enumeration value="short sequence motif" />
			<xs:enumeration value="signal peptide" />
			<xs:enumeration value="similarity" />
			<xs:enumeration value="site" />
			<xs:enumeration value="subcellular location" />
			<xs:enumeration value="subcellular location info" />
			<xs:enumeration value="subunit" />
			<xs:enumeration value="tissue specificity" />
			<xs:enumeration value="topological domain" />
			<xs:enumeration value="transit peptide" />
			<xs:enumeration value="transmembrane region" />
			<xs:enumeration value="turn" />
			<xs:enumeration value="uniprot keyword" />
			<xs:enumeration value="unsure residue" />
			<xs:enumeration value="zinc finger region" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="annotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="cvTerm" />
				<xs:element minOccurs="0" ref="description" />
				<xs:element minOccurs="0" ref="variant" />
				<xs:element minOccurs="0" ref="properties" />
				<xs:element minOccurs="0" ref="experimentalEvidences" />
				<xs:element minOccurs="0" ref="evidences" />
				<xs:element minOccurs="0" ref="target-isoform-list" />
			</xs:sequence>
			<xs:attribute name="uniqueName" use="optional" type="xs:NCName"/>
			<xs:attribute name="qualityQualifier" use="required" type="qualityType" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="qualityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GOLD" />
			<xs:enumeration value="SILVER" />
			<xs:enumeration value="BRONZE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="cvTerm">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cvName" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string" />
	<xs:element name="variant">
		<xs:complexType>
			<xs:attribute name="original" use="optional" type="xs:string" />
			<xs:attribute name="variation" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="evidences">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="evidence" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="evidence">
		<xs:complexType>
			<xs:attribute name="isNegative" use="required" type="xs:boolean" />
			<xs:attribute name="qualifierType" use="required" type="evidenceType" />
			<xs:attribute name="resourceAssocType" use="required" type="assocType" />
			<xs:attribute name="resourceRef" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="evidenceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="POTENTIAL" />
			<xs:enumeration value="PROBABLE" />
			<xs:enumeration value="BY_SIMILARITY" />
			<xs:enumeration value="UNKNOWN" />
			<xs:enumeration value="EXP" />
			<xs:enumeration value="IDA" />
			<xs:enumeration value="IPI" />
			<xs:enumeration value="IMP" />
			<xs:enumeration value="IGI" />
			<xs:enumeration value="IEP" />
			<xs:enumeration value="ISS" />
			<xs:enumeration value="ISO" />
			<xs:enumeration value="ISA" />
			<xs:enumeration value="ISM" />
			<xs:enumeration value="IGC" />
			<xs:enumeration value="RCA" />
			<xs:enumeration value="TAS" />
			<xs:enumeration value="NAS" />
			<xs:enumeration value="IC" />
			<xs:enumeration value="ND" />
			<xs:enumeration value="IEA" />
			<xs:enumeration value="NR" />
			<xs:enumeration value="IBA" />
			<xs:enumeration value="IBD" />
			<xs:enumeration value="IKR" />
			<xs:enumeration value="IRD" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="assocType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="source" />
			<xs:enumeration value="relative" />
			<xs:enumeration value="evidence" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="experimentalEvidences">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="experimentalEvidence" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experimentalEvidence">
		<xs:complexType>
			<xs:attribute name="method" use="required" type="xs:normalizedString" />
			<xs:attribute name="result" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="property" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:attribute name="accession" use="optional" type="xs:normalizedString" />
			<xs:attribute name="propertyName" use="required" type="xs:normalizedString" />
			<xs:attribute name="value" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="target-isoform-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="target-isoform" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="target-isoform">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="positions" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="positions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="2" ref="position" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="position" type="positionType" />
	<xs:complexType name="positionType">
		<xs:attribute name="first" use="optional" type="xs:integer" />
		<xs:attribute name="firstStatus" use="optional" default="certain" type="positionStatusType" />
		<xs:attribute name="last" use="optional" type="xs:integer" />
		<xs:attribute name="lastStatus" use="optional" default="certain" type="positionStatusType" />
	</xs:complexType>
	<xs:simpleType name="positionStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="certain" />
			<xs:enumeration value="unknown" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="keywords">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="keyword" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType>
			<xs:attribute name="accession" use="required" type="xs:NCName" />
			<xs:attribute name="kwName" use="required" type="xs:normalizedString" />
		</xs:complexType>
	</xs:element>
	<xs:element name="interaction-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="interaction" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="interaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="interactionXref" />
				<xs:element maxOccurs="unbounded" ref="interactant" />
				<xs:element minOccurs="0" ref="interactantXref" />
				<xs:element ref="experiment-count" />
			</xs:sequence>
			<xs:attribute name="quality" use="required" type="qualityType" />
		</xs:complexType>
	</xs:element>
	<xs:element name="interactionXref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" />
			<xs:attribute name="database" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="interactant">
		<xs:complexType>
			<xs:attribute name="uniqueName" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="interactantXref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:NCName" />
			<xs:attribute name="database" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="experiment-count" type="xs:integer" />
	<xs:element name="isoform-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="isoform" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="isoform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entity-name" minOccurs="0" />
				<xs:element ref="sequence" />
			</xs:sequence>
			<xs:attribute name="swissprotDisplayedIsoform" type="xs:boolean" />
			<xs:attribute name="accession" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="sequence" type="xs:string" />
	<xs:element name="chromosomal-location-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chromosomal-location" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chromosomal-location">
		<xs:complexType>
			<xs:attribute name="chromosome" use="required" type="xs:string" />
			<xs:attribute name="band" type="xs:string" />
			<xs:attribute name="strand" type="xs:integer" />
			<xs:attribute name="accession" type="xs:NCName" />
			<xs:attribute name="begin" type="xs:long" />
			<xs:attribute name="end" type="xs:long" />
		</xs:complexType>
	</xs:element>
	<xs:element name="genomic-mapping-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" ref="genomic-mapping" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="genomic-mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" ref="isoform-mapping-list" />
			</xs:sequence>
			<xs:attribute name="ensembl-gene" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="isoform-mapping-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="isoform-mapping" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="isoform-mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transcript-mapping-list" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="accession" use="required" type="xs:NCName" />
			<xs:attribute name="main-name" use="required" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="transcript-mapping-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="transcript-mapping" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transcript-mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exon-list" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="ensembl-transcript" use="required" type="xs:NCName" />
			<xs:attribute name="ensembl-protein" use="optional" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="exon-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exon" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="exon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position-on-gene" minOccurs="1" maxOccurs="1" />
				<xs:element ref="amino-acid" minOccurs="0" maxOccurs="2" />
			</xs:sequence>
			<xs:attribute name="coding-status" use="required" type="codingStatusType" />
			<xs:attribute name="ensembl-exon" use="optional" type="xs:NCName" />
		</xs:complexType>
	</xs:element>
	<xs:element name="position-on-gene"> 
		<xs:complexType>
			<xs:attribute name="begin" use="required" type="xs:integer" />
			<xs:attribute name="end" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="amino-acid">
		<xs:complexType>
			<xs:attribute name="sequence" use="required" type="xs:NCName" />
			<xs:attribute name="sequence-position" use="required" type="xs:integer" />
			<xs:attribute name="phase" use="required" type="phaseValues" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="codingStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="START" />
			<xs:enumeration value="CODING" />
			<xs:enumeration value="STOP" />
			<xs:enumeration value="STOP_ONLY" />
			<xs:enumeration value="MONO" />
			<xs:enumeration value="NONE" />
			<xs:enumeration value="NOT_CODING" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rankType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="first" />
			<xs:enumeration value="last" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phaseValues">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="identifiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="identifier" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier">
		<xs:complexType>
			<xs:attribute name="type" use="required" type="xs:string" />
			<xs:attribute name="name" use="required" type="xs:string" />
			<xs:attribute name="database" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="publications">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="publication" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" />
				<xs:element ref="journal" />
				<xs:element ref="pages" />
				<xs:element ref="authors" />
				<xs:element minOccurs="0" ref="xrefs" />
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The id attribute is used to reference the publication within the XML
						through resourceRef.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="type" use="required" type="xs:string" />
			<!-- <xs:attribute name="type" use="required" type="xs:NCName" /> -->
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string" />
	<xs:element name="journal">
		<xs:complexType>
			<xs:attribute name="issue" use="required" />
			<xs:attribute name="name" use="required" />
			<xs:attribute name="volume" use="required" />
			<xs:attribute name="year" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="pages">
		<xs:complexType>
			<xs:attribute name="first" use="required" />
			<xs:attribute name="last" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="authors">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="person" />
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="consortium" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:attribute name="name" use="required" />
			<xs:attribute name="suffix" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="consortium">
		<xs:complexType>
			<xs:attribute name="name" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="xrefs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="xref" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="xref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="properties" minOccurs="0" />
				<xs:element ref="url" />
			</xs:sequence>
			<xs:attribute name="database" use="required" type="xs:string" />
			<xs:attribute name="category" use="required" type="xs:string" />
			<xs:attribute name="accession" use="required" type="xs:string" />
			<xs:attribute name="id" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	
	<!-- 	peptides  -->
	<xs:element name="peptide-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="peptide"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="peptide">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="evidencesPep" />
				<xs:element maxOccurs="unbounded" ref="target-isoform-list"/>
			</xs:sequence>
			<xs:attribute name="uniqueName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="evidencesPep" >
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="evidencePep"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- TODO Should this be different from evidence !!!!!!!!!!!!!!!!!!! ???????????????????????????????????? -->
	<xs:element name="evidencePep">
		<xs:complexType>
			<xs:attribute name="accession" use="required" type="xs:string"/>
			<xs:attribute name="database" use="required" type="xs:string"/>
			<xs:attribute name="assignedBy" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	
	<!-- antibodies -->
	<xs:element name="antibody-list">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="antibody"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="antibody">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="url" type="xs:string"/>
				<xs:element maxOccurs="unbounded" ref="target-isoform-list"/>
			</xs:sequence>
			<xs:attribute name="uniqueName" use="required" type="xs:string"/>
			
		</xs:complexType>
	</xs:element>
	
</xs:schema>


